html {
  scroll-behavior: smooth;
  position: relative;
}

body{
  margin-top: 50px;
}

.jumbotron{
  background-image: url('../img/background1.jpg');
  -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin-top: 50px;
}

footer{
  background-color: black;
  color:white;
}

section{
  margin-bottom: 20px;
}
